<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
	  	<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sign In</h3>
            </div>
            <div class="panel-body">
            	<div class="row form-space">
            		<div class="col-md-12">
            			{{#if showSuccessMessage}}
					    	  <div class="alert alert-success alert-dismissible" role="alert">
  								  <button type="button" class="close" data-dismiss="alert" aria-label="Close" {{action 'OnCloseMessage'}}><span aria-hidden="true">&times;</span></button>
					    		  {{responseSuccessMessage}}
					    	  </div>
					  	    {{/if}}

					  	    {{#if showErrorMessage}}
					    	  <div class="alert alert-danger alert-dismissible" role="alert">
  								<button type="button" class="close" data-dismiss="alert" aria-label="Close" {{action 'OnCloseMessage'}}><span aria-hidden="true">&times;</span></button>
  								  {{responseErrorMessage}}
                  </div>
					  	    {{/if}}
            		</div>
            	</div>

            	<div class="row form-space">
            		<div class="col-md-12">
            			<label class="control-label">Email</label>
           				{{input type="text" value=email class="form-control" placeholder="yourname@correo.com"}}
            		</div>
            	</div>

            	<div class="row form-space">
            		<div class="col-md-12">
            			<label class="control-label">Password</label>
           				{{input type="password" class="form-control" value=password placeholder="Secret text"}}
           			</div>
           		</div>

           		<div class="row">
            		<div class="col-md-12">
            			<button class="btn btn-primary btn-lg btn-block" {{action 'OnSignin'}}>Sign In</button>
            		</div>
            	</div>
            </div>
        </div>
        <div class="row">
	        <h4 style="text-align: center;">or</h4>
	        <div class="col-md-6">
	        	<button class="btn btn-primary btn-lg btn-block" {{action 'OnSigninSocial' 'facebook'}}>{{fa-icon "facebook"}} Facebook</button>
	        	<button class="btn btn-info btn-lg btn-block" {{action 'OnSigninSocial' 'twitter'}}>{{fa-icon "twitter"}} Twitter</button>
	        </div>
	        <div class="col-md-6">
	        	<button class="btn btn-danger btn-lg btn-block" {{action 'OnSigninSocial' 'google'}}>{{fa-icon "google-plus"}} Google</button>
	        	<button class="btn btn-warning btn-lg btn-block" {{action 'OnSigninSocial' 'github'}}>{{fa-icon "github"}} Github</button>
	        </div>
	    </div>
    </div>
    <div class="col-md-4"></div>
</div>
